body {
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #654ea3, #eaafc8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #654ea3, #eaafc8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#navbar {
    height: 56px;
}

#signOutNavbar {
    font-size: 16px;
    color: #654ea3;
}

#logoTextNavbar {
    font-size: 16px;
    color: #654ea3;
}

#profileNavbar {
    font-size: 16px;
    color: #654ea3;
}

#homeNavbar {
    font-size: 16px;
    color: #654ea3;
}

#allQuotesHeadline {
    color: white;
    margin-top: 80px;
    margin-bottom: 60px;
}

#quoteCard {
     margin-left: auto;
     margin-right: auto;
     width: 500px;
     margin-top: 30px;
 }

 #editBtnDiv {
     margin-top: 20px;
     width: 50px;
 }

 #deleteBtnDiv {
     margin-top: 20px;
 }

 #quoteEditBtn {
     background-color: #654ea3;
     border: none;
 }

 #quoteDeleteBtn {
     background-color: #654ea3;
     border: none;
 }

 #username {
    margin-bottom: 12px;
 }

 #footer {
    margin-top: 180px;
 }

 #signInNavbar {
     font-size: 16px;
     color: #654ea3
 }

 #signUpNavbar {
     font-size: 16px;
     color: #654ea3
 }