body {
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #654ea3, #eaafc8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #654ea3, #eaafc8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#newQuoteCard {
    margin-top: 180px;
}

#navbar {
    height: 56px;
}

#homeNavbar {
    font-size: 16px;
    color: #654ea3;
}

#profileNavbar {
    font-size: 16px;
    color: #654ea3;
}

#signOutNavbar {
    font-size: 16px;
    color: #654ea3;
}

#logoTextNavbar {
    font-size: 16px;
    color: #654ea3;
}

#cardInfo {
    padding-bottom: 12px;
}

#saveQuoteListBtn {
    margin-top: 12px;
    border: none;
    background-color: #654ea3;
}

.input-group-text {
    width: 100px;
}

p {
    color: #fd79a8;
}

#newQuoteListCard {
    margin-top: 180px;
}
