body {
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #654ea3, #eaafc8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #654ea3, #eaafc8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#signUpCard {
    margin-top: 100px;
}

#signUpHeadline {
    color: #654ea3;
}

#backToStart {
    color: #654ea3;
    font-size: 16px;
}

#signUpDescription {
    font-size: 14px;
}

#inputFields {
    margin-top: 24px;
}

.input-group-text {
    width: 100px;
    font-size: 16px;
}

#signUpBtn {
    background-color: #654ea3;
    border: none;
    margin-top: 24px;
}

#navbar {
    height: 56px;
}

#signInLink {
    color: #654ea3;
    font-size: 14px;
    display: block;
}

p {
    margin-top: 10px;
    color: #fd79a8;
    display: block;
}
