body {
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #654ea3, #eaafc8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #654ea3, #eaafc8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#navbar {
    height: 56px;
}

#signOutNavbar {
    font-size: 16px;
    color: #654ea3
}

#logoTextNavbar {
    font-size: 16px;
    color: #654ea3
}

#profileNavbar {
    font-size: 16px;
    color: #654ea3
}

#homeNavbar {
    font-size: 16px;
    color: #654ea3
}

#profileInfoCard {
    margin-top: 110px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#profileCardUsername {
    margin-top: 20px;
    margin-bottom: 20px;
}

#profileCardQuotes {
    margin-top: 20px;
    margin-bottom: 20px;
}

#profileCardQuoteLists {
    margin-top: 20px;
    margin-bottom: 20px;
}

#userQuotesCard {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#quotesCardHeadline {
    margin-left: 25px;
}

#quoteCard {
     margin-left: auto;
     margin-right: auto;
     width: 500px;
     margin-top: 30px;
 }

 #quoteListCard {
     margin-left: auto;
     margin-right: auto;
     padding-bottom: 14px;
     width: 500px;
     margin-top: 30px;
 }

#myQuotes {
    color: white;
}

#myQuoteLists {
    margin-top: 70px;
    color: white;
}

#footer {
    margin-top: 200px;
}
