body {
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #654ea3, #eaafc8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #654ea3, #eaafc8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#signInNavbar {
    font-size: 16px;
    color: #654ea3
}

#signUpNavbar {
    font-size: 16px;
    color: #654ea3
}

#signOutNavbar {
    font-size: 16px;
    color: #654ea3
}

#logoTextNavbar {
    font-size: 16px;
    color: #654ea3
}

#profileNavbar {
    font-size: 16px;
    color: #654ea3
}

#allQuotesBtn {
    background-color: #654ea3;
    border: none;
}

#allQuoteListsBtn {
    background-color: #654ea3;
    border: none;
}

#landInfoCards {
    margin-top: 150px;
}

#landHeadlineText {
    font-size: 42px;
    color: white;
    margin-top: 150px;
    margin-left: 18px;
}

#landDescription {
    font-size: 12;
    margin-left: 20px;
    color: #F5F5F5;
}

#descriptionCard {
    margin-top: 100px;
}

#navbar {
    height: 56px;
}

#homeNavbar {
    font-size: 16px;
    color: #654ea3
}

#landUsername {
    font-size: 42px;
    color: white;
    margin-left: 18px;
}

#landWelcomeText {
    margin-top: 150px;
    font-size: 12;
    margin-left: 20px;
    color: #F5F5F5;
}

#authenticatedFirstRow {
    margin-top: 42px;
}

#authenticatedSecondRow {
    margin-top: 28px;
}

#authenticatedThirdRow {
    margin-top: 28px;
}

#authenticatedQuoteListsBtn {
    background-color: #654ea3;
    border: none;
}

#authenticatedQuoteBtn {
    background-color: #654ea3;
    border: none;
}

#myQuotesBtn {
    background-color: #654ea3;
    border: none;
}

#myQuoteListsBtn {
    background-color: #654ea3;
    border: none;
}