<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h3 th:text="${listname}"></h3>
        <p>Send GET request to following url to get list as JSON  <a th:href="${listresturl}" th:text="${listresturl}"></a></p>
    </div>
        <ul th:each="quote : ${listquotes}">
        <li th:text="${quote.text}"></li>
    </ul>
</body>
</html>