<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" src="../css/signup.css" th:href="@{/css/userprofile.css}">
    <title>Profile</title>
</head>
<body>
<div>
    <nav id="navbar" class="navbar navbar-light bg-light">
        <div class="text-left">
            <a id="logoTextNavbar" class="navbar-brand" th:href="@{/welcome}">Quote-Center</a>
        </div>
        <div class="text-right">
            <a sec:authorize="isAuthenticated()" id="homeNavbar" class="navbar-brand" th:href="@{/welcome}" >Home</a>
            <a sec:authorize="isAuthenticated()" id="profileNavbar" class="navbar-brand" th:href="@{/profile}">Profile</a>
            <a sec:authorize="isAuthenticated()" id="signOutNavbar" class="navbar-brand" th:href="@{/signout}">Sign out</a>
        </div>
    </nav>
    <div>
        <div class="card" id="profileInfoCard">
            <div class="card-body">
                <div class="row">
                    <div id="profileCardUsername" class="text-center col">
                        <h6 class="card-subtitle mb-2 text-muted">Signed in as</h6>
                        <h5 th:text="'@' + ${user.username}" class="card-title"></h5>
                    </div>
                    <div id="profileCardQuotes" class="text-center col">
                        <h5 class="card-title">Quotes</h5>
                        <h6 th:text="${amountOfQuotes}" class="card-subtitle mb-2 text-muted"></h6>
                    </div>
                    <div id="profileCardQuoteLists" class="text-center col">
                        <h5 class="card-title">Quote-Lists</h5>
                        <h6 th:text="${amountOfQuoteLists}" class="card-subtitle mb-2 text-muted"></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>